* {
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    color: $font-color;
    background-color: $white-bg;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  /* width */
  ::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DE3E69;
    border-radius: 1px;
  }
.active {
    color: #552684;
}
a {
    color: #552684;
    text-decoration: none;

    &:hover {
        color: #4285f4;
        text-decoration: none;
    }
}

img {
    width: 100%;
}

ul {
    padding: 0;
}

input {
    border-radius: 0;
}

@media (pointer:coarse) {
    body {
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}

.animated-list-item {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);

    &.show {
        opacity: 1;
        transform: none;
        transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    }

    &.highlight {
        background: #f1b01578;
    }
}

.padding-8 {
    padding: 8px;
}
.btn-blue {
    background-color: $primary-color;
    color: $white-bg;
    &:hover {
        background-color: #7b0ceb;
        color: $white-bg;
    }
}
.btn-large {
    width: 250px;
    height: 60px;
    border-radius: $border-radius-extreme;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    }
.btn-explotto {
    font-family: 'Palanquin';
    border-radius: 20px;
    height: 60px;
    min-width: 10vw;
    font-size: 1.1rem;
    border-radius: $border-radius-x-large;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 1.2rem;
}
.form-group {
    .form-label {
        color: $font-color;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 500;
      }
      .form-control {
        padding: .75rem .75rem;
        border: 1px solid #DE3E69;
        border-radius: 0.5rem;
        font-size: 1rem;
        &:disabled {
            background-color: #FDF7F5;
        }
      }
}

.discord-form-group {
    .form-label {
        color: $font-color;
        font-size: 1.2rem;
        line-height: 3.5;
      }
      .form-control {
        padding: .75rem .75rem;
        border: 1px solid #DE3E69;
        border-radius: 0.5rem;
        font-size: 1rem;
        &:disabled {
            background-color: #FDF7F5;
        }
      }
}
.ticket-buy-modal {
    .modal-body {
        .close-btn {
            position: absolute;
            right: 1.5rem;
            cursor: pointer;
            img {
                width: 30px;
            }
        }
        .ticket-buy-title {
            font-family: 'Palanquin';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 43px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $font-color;
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
        .win-section {
            .close-btn {
                position: absolute;
                top: 1rem;
                right: 1rem;
                cursor: pointer;
                img {
                    width: 24px;
                }
            }
            padding: 2rem 0;
            text-align: center;
            .win-icon {
                margin-bottom: 1rem;
                img {
                    width: 220px;
                }
            }
            .win-box {
                h2 {
                    font-family: "Palanquin", sans-serif;
                    font-size: 2.2rem;
                    color: #220C37;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 1.2rem;
                    color: rgba(34, 12, 55, 0.6);
                    span {
                        color: #DE3E69;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
.result-animation-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    .lottie-animation {
        width: 100%;
        height: 100%;
    }
    .waviy {
        position: absolute;
        // -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
        font-size: 62px;
      }
      .waviy span {
        font-family: "Palanquin", sans-serif;
        font-weight: bold;
        position: relative;
        display: inline-block;
        color: #d9ff02;
        text-transform: uppercase;
        animation: waviy 1s infinite;
        animation-delay: calc(.1s * var(--i));
        
      }
      @keyframes waviy {
        0%,40%,100% {
          transform: translateY(0)
        }
        20% {
          transform: translateY(-30px)
        }
      }
      .winner-logo {
        position: absolute;
        top: 30%;
        img {
            width: 100px;
            animation: jumpAnimation 1s infinite;
        }
      }
      @keyframes jumpAnimation {
        0% {
          transform: translateY(0)
        }
        50% {
          transform: translateY(-30px)
        }
        100% {
            transform: translateY(0px)
          }
      }
}
.page-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tab-section {
        text-align: right;
        .tab-btn {
            font-size: 2vw;
            color: $font-color;
            margin-right: 3vw;
            padding-bottom: 0.4rem;
            &.active {
                color: #DE3E69;
                border-bottom: 1px solid;
            }
        }
    }
}
.btn-top-scroll {
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background: #DE3E69;
    border: transparent;
    display: block;
    align-items: center;
}
.btn-top-scroll:hover {
    background: #ff2962;
    transform: scale(1.1);
}
.rdt_Table{
    overflow: hidden;
    min-height: 430px;
    min-width: 1200px;
    border: 1px solid #DE3E69;
    border-radius: 20px;
    .rdt_TableHeadRow,.rdt_TableRow {
        border-bottom-color: #DE3E69 !important;
    }
}
.gelpCx {
    border: 1px solid #DE3E69;
    border-radius: 20px !important;
}
.body-section .lottery-ticket-section.section {
    padding: 0px;
}
.filter-row {
    display: flex;
    width: 45%;
    border: 1px solid #DE3E69;
    border-radius: 14px;
    padding: 0px 0px 0px 15px;
}
.clear-icon-style {
    height: 15px;
    width: 15px;
}
.search-icon-style {
    height: 15px;
    width: 15px;
}
.filter-Container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}
.purple-button.btn.btn-primary{
    background-color: #552684;
    border-color:#552684;
    text-transform: uppercase;
    min-width: 150px;
 }
 .drop-down-outer {
     display: flex;
     margin-left: auto;
     align-items: center;
     color: #031A23;
     .pagination.pager-box {
         width: 100%;
     }
     .dropdown {
         .btn {
             border: none;
             color: #031A23;
         }
         .btn-outline-secondary:hover,.btn-outline-secondary:focus {
             background-color: transparent;
             outline: transparent;
             color: #031A23;
             box-shadow: none;
         }
         .dropdown-item ,.dropdown-menu.show{
            max-width: 65px;
            min-width: 65px;
            text-align: center;
         }
     }
 }
 .pagination.pager-box.data-table-page{
     .pages-count {
         color: #031A23;
     }
     .pager-left {
         margin:0px;
         padding: 0px;
         margin-left: 12px;
         position: relative;
     }
     .pager-right {
         margin:0px;
         padding: 0px;
         position: relative;
     }
     .pager-arrow svg {
        height: 25px;
        width: 25px;
        z-index: 1;
        position: relative;
     }
    .pager-right::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-top: 10px solid transparent;
        border-left: 10px solid #031A23;
        border-bottom: 10px solid transparent;
        left: 8px;
        top: 4px;
        z-index: 0;
    }
    .pager-left::after{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-top: 10px solid transparent;
            border-right: 10px solid #031A23;
            border-bottom: 10px solid transparent;
            right: 8px;
            top: 4px;
            z-index: 0;
    }
 }
 .rdt_TableCell,.rdt_TableCol_Sortable,.rdt_TableCol {
    color:#220C37;
    font-size:17px;
 }
 .pagination {
    padding: 1rem 0 !important;
}
.mt-dd-30 {
    margin-top: 30px;
}
.new-design-tab.tab-box {
    text-align: left;
    margin-bottom:0px;
    .tab-nav {
        background-color: transparent;
        border: none;
        .tab-btn{
            color: #220C37;
            opacity: 0.5;
            min-width: 60px !important;
            font-weight: normal;
            font-size: 18px;
        }
        .tab-btn.active {
            background-color: transparent;
            color: #220C37;
            opacity: 1;
            box-shadow: none;
        }
    }
}
 @media(max-width:767px) {
    .filter-Container {
        flex-wrap: wrap;
        justify-content: center;
        .filter-row {
            width: 100%;
            margin-bottom: 15px;
        }
    }
 }

 .ejwJAK,.jWKhbc {
    //  display:none !important;
 }
 .expandeble-row-tb{
     width: 100%;  
 }
 .expandeble-row-tb th{
    border:none;
    padding-top: 0;
    padding-bottom: 0;
 }
 .expandeble-row-tb th,.expandeble-row-tb td{
    text-align: left;
    padding-left: 40px;
    padding-right: 10px;
 }
 .rdt_ExpanderRow{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ff2962;
 }
 .lastcolumn{
     width: 200px;
     min-width:200px;
     max-width:200px;
 }
 .column1{
     width:40%;
 }
 .column2{
     width:20%;
 }
 .column3{
    width:30%;
}
.expand_icon{
    transform: rotate(180deg);
}
$custom-easing: cubic-bezier(0.445, 0.05, 0.55, 0.95); // Sine
$animation-duration: 1.7s;
$small-stroke: 105;
$small-stroke-animate: 95;
$meduim-stroke: 160;
$meduim-stroke-animate: 143;
$large-stroke: 210;
$large-stroke-animate: 190;
$rotate: 25deg;
$rotate-origin: -32deg;

// Spinner container
#loading-spinner {
display: block;
margin: 0 auto;
animation: loading-spinner-spin 2s linear infinite;
will-change: transform;
}

@keyframes loading-spinner-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

//  ---- Small ----
#loading-circle {
stroke-dasharray: $small-stroke;
stroke-dashoffset: $small-stroke;
stroke-linecap: round;
animation: loading-spinner-small $animation-duration $custom-easing infinite;
transform: translateZ(0);
transform-origin: center;
will-change: stroke-dashoffset;
}

@keyframes loading-spinner-small {
0% {
stroke-dashoffset: $small-stroke-animate;
transform: scaleY(1);
}
49.99% {
stroke-dashoffset: 0;
transform: scaleY(1);
}
50% {
stroke-dashoffset: 0;
transform: scaleY(-1) rotate($rotate);
}
100% {
stroke-dashoffset: $small-stroke-animate;
transform: scaleY(-1) rotate($rotate-origin);
}
}

.text_warp {
    width: 100%;
    white-space: normal !important; 
    padding-top: 10px;
    padding-bottom:10px ;
    z-index: 0;
    overflow: unset !important;
}
.new-tab-box {
    .tab-nav {
        padding: 12px 0;
        .tab-btn {
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            text-align: right;
            color: #220C37;
            opacity: 0.5;
            margin-right: 1.2rem;
            &.active {
                font-weight: 400;
                opacity: 1;
            }
        }
    }
}

.margin-top-bottom-100{
    margin-top: 100px;
    margin-bottom:100px;
}