code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.section-navbar {
  box-shadow: 1px 1px 35px 0 rgba(51, 51, 51, 0.40);
}
.section-navbar .dropdown-menu {
  padding: 0;
  border-top: 3px solid #ec9f1c;
}
.section-navbar .dropdown-menu .nav-dropdrow-box {
  display: flex;
  width: 100%;
}
.section-navbar .dropdown-menu .nav-dropdrow-box .nav-dropdrow-left {
  width: 65%;
  background: #ca1f52;
}
.section-navbar .dropdown-menu .nav-dropdrow-box .nav-dropdrow-right {
  width: 35%;
}
.nav-dropdrow-box .nav-dropdrow-left .nav-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  padding: 0.5rem 1rem;
}
.nav-dropdrow-box .nav-dropdrow-left .nav-text.balance {
  text-align: right;
  background-color: rgb(241 95 116);
  background-image: url('../assets/images/purse.png');
  background-repeat: no-repeat;
  background-position: 18px;
  background-size: 84px;
}
.nav-dropdrow-box .nav-dropdrow-left .nav-text.balance span {
    display: block;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffc107;
}
.nav-dropdrow-box .nav-dropdrow-left .nav-text.wallet  {
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-navbar .logo-icon {
  width: 210px;
}
.section-navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: #C91E51;
  font-family: 'Dosis', sans-serif;
}
.section-navbar .navbar-nav .nav-link {
  color: #C91E51 !important;
  font-size: 17px;
  font-weight: 700;
  margin-right: 1.5rem;
}
.section-navbar .navbar-nav .nav-link:hover {
  background: #C91E51;
  color: #fff !important;
  border-radius: 5px;
}
.section-navbar .navbar-nav .dropdown .dropdown-toggle  {
  background: #C91E51 !important;
  color: #fbfbfb !important;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
}
.section-navbar .navbar-nav .dropdown .dropdown-toggle:hover {
  background-color: #1EC996 !important;
}
.section-navbar .navbar-nav .dropdown-item {
  color: #C91E51 !important;
  padding: 0.84rem 1rem;
}
.section-navbar .navbar-nav .dropdown-item:hover, .section-navbar .navbar-nav .dropdown-item:active{
  background-color: #ca1f52;
  color: #fff !important;
}
.hero-section {
  position: relative;
  background-image: url('../assets/images/bg-hero.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 4rem;  
  /* background-color: #C91E51; */
}
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(224, 129, 19, 0.9) 0%, rgb(255 193 7) 100%);
}
.lottery-card {
  border: 4px solid #b30035;
  background: linear-gradient(rgb(201 30 81) 0%, rgb(225 57 107) 100%);
  padding: 32px 15px;
  /* border-radius: 38px; */
  border-radius: 10px;
  box-shadow: 0 11px 35px 2px rgb(0, 0, 0, 0.10);
}
.lottery-card .card-body {
  position: relative;
}
.lucky-number-card .card-body {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}
.lottery-card .card-header {
  display: flex;
  width: 100%;
  padding: 0 65px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.card-header .header-title-box {
  flex: 1;
  text-align: left;
}
.card-header .header-title-box h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.1;
  color: #ffff;
  display: flex;
  align-items: center;
}
.card-header .header-title-box .round-count {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  padding: 3px 10px;
  color: #7140d4;
  border-radius: 20px;
  border: 2px solid #ccc;
}
.card-header .date-time {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.2rem;
  opacity: 0.6;
}
.card-header .pager-box .pager-arrow {
  opacity: 0.6;
  cursor: pointer;
  transition: ease-in 0.3s;
}
.card-header .pager-box .pager-arrow:hover {
  opacity: 1;
}
.card-header .pager-box .pager-arrow svg {
  width: 35px;
  height: 35px;
}
.card-header .pager-box .pager-arrow.pager-left {
  margin-right: 3px;
}
.card-header .pager-box .pager-arrow.pager-left svg{
  transform: rotate(180deg);
}
.latest-tag-box {
  z-index: 10;
  background-color: rgb(255, 255, 255);
  color: #000;
  margin: 0px;
  padding: 8px 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: left top;
  width: 96px;
}
.latest-tag {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96px;
  color: #c91e51;
  font-weight: bold;
}
.latest-tag::before {
  right: 100%;
}
.latest-tag::after {
  left: 100%;
}
.latest-tag::before, .latest-tag::after {
  background-color: rgb(255, 255, 255);
  content: "";
  height: 39px;
  margin: 0px -1px;
  position: absolute;
  top: -9px;
  width: 144%;
  right: 119%;
}
.prizes-card {
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;
  padding: 32px 0;
}
.prizes-card-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/bg-winner.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  animation: scaleUp 5s ease-out;
  animation-iteration-count: 2;
  transform: scale(8);
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(8);
  }
}
.prizes-card .card-body {
  text-align: center;
  z-index: 2;
}
.lottery-card .card-title {
  font-weight: 700;
  font-size: 2.2rem;
  color: #fff;
  text-shadow: 0 2px 3px #027b6d;
  margin-bottom: 1rem;
}
.prize-amt .amt{
  font-family: 'Dosis', sans-serif;
  font-size: 5rem;
    color: #ffc107;
    font-weight: 800;
    /* text-shadow: 0 1px 0 #e0d88e, 0 2px 0 #ddd695, 0 3px 0 #dad28c, 0 4px 0 #e9df91, 0 5px 0 #f0e48b, 0 6px 0 #ece187, 0 7px 0 #e7dd92, 0 8px 0 #e0d581, 0 0 5px rgb(230 139 139 / 5%), 0 -1px 3px rgb(230 139 139 / 20%), 0 9px 9px rgb(230 139 139 / 30%), 0 12px 12px rgb(230 139 139 / 30%), 0 15px 15px rgb(230 139 139 / 30%); */
}

.text-prizes {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffff;
  margin-bottom: 3rem;
}
.lottery-btn-group {
  display: inherit;
  /* background-image: url('./assets/images/ticket-bg.svg'); */
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center;
  height: 120px;
  transform: rotate(5deg);
  animation: shakeBtn 2s infinite alternate;    
}

.lottery-btn {
cursor: pointer;
position: relative;
padding: 1.6rem 4.5rem;
margin-top: 1rem;
border-radius: 0.75rem;
line-height: 2rem;
font-size: 2rem;
font-weight: 600;
border: 1px solid #ff0b47;
background-image: linear-gradient(-180deg, #ffc107 0%, #ff9800 100%);
/* box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
          0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
          0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
          0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;        */
}
.btn-disabled {
  cursor: not-allowed;
  background-image: linear-gradient( -180deg, #bdbdbd 0%, #bdbdbd 100%);
  border: 1px solid #939393;
  padding: 1.6rem 3.5rem;
}
.btn-disabled::before, .btn-disabled::after {
  content: none !important;
}
.lottery-btn:hover {
  background-image: linear-gradient(
      49deg, #ff9800 0%, #ffc107 100%);
}
.btn-disabled:hover {
  background-image: linear-gradient( -180deg, #bdbdbd 0%, #bdbdbd 100%);
}

@keyframes shakeBtn {
  /* 0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); } */
  /* 0% {transform: rotate(0deg);}
  25% {transform: rotate(-4deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(4deg);}
  100% {transform: rotate(0deg);} */
  0% { transform: scale(0.8);}
  100% { transform: scale(1.1);}
}

.lottery-btn span {
color: #FEFAFD ;
-webkit-background-clip: text;
background-clip: text;
filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}
.btn-disabled span {
  color: #e1e1e1;
  filter: none;
}

.lottery-btn::before {
content: "";
display: block;
height: 0.25rem;
position: absolute;
top: 0.5rem;
left: 50%;
transform: translateX(-50%);
width: calc(100% - 7.5rem);
background: #fff;
border-radius: 100%;

opacity: 0.7;
background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.lottery-btn::after {
content: "";
display: block;
height: 0.25rem;
position: absolute;
bottom: 0.75rem;
left: 50%;
transform: translateX(-50%);
width: calc(100% - 7.5rem);
background: #fff;
border-radius: 100%;

filter: blur(1px);
opacity: 0.05;
background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.lucky-number-card {
  text-align: center;
  margin-bottom: 4rem;
  padding-left: 0;
  padding-right: 0;
  background: linear-gradient(rgb(201 30 81) 0%, rgb(225 57 107) 100%);
}
.winner-details .winner-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffff;
  margin-top: 2rem;
}
.winner-number {
  display: inline-flex;
  margin: 3rem 0;
}
.footer-section {
  background-color: rgb(201 30 81);
  background-image: url('../assets/images/footer-top-shape.png');
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 6rem;
  padding-bottom: 2rem;
}
.navbar.lottery-navbar {
  background: aliceblue;
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
}
.coin-box {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}
.coin-box .coin {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.coin-box.coin-left .coin {
  left: 30px;
  transform: rotate(164deg);
}
.coin-box.coin-left .coin2 {
  position: absolute;
  top: 185px;
  bottom: 0;
  left: -28px;
  margin: auto;
  width: 160px;
}
.coin-box.coin-right .coin {
  transform: rotate(164deg);
}
.coin-box.coin-right .coin2 {
  position: absolute;
  top: 185px;
  bottom: 0;
  right: -166px;
  margin: auto;
  width: 160px;
  transform: rotate(315deg);
}
.coin-box.coin-right .coin3 {
  position: absolute;
  top: 99px;
  bottom: 0;
  right: -94px;
  margin: auto;
  width: 150px;
}
.coin-box.coin-right {
  left: calc(100% - 162px);
}
.coin-box .coin {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;

}
.coin-box.coin-right .coin {
  /* animation-name: rightCoin; */
  width: 170px;
}
.coin-box.coin-left .coin {
  /* animation-name: leftCoin; */
  width: 120px;
}
@keyframes rightCoin {
  0% {
    left: 0;
    bottom: 0;
  }
  100% {
    left: -22px;
    bottom: -22px;
  }
}

@keyframes leftCoin {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: 22px;
    top: 22px;
  }
}
.boll-box {
  position: absolute;
  right: -50px;
  bottom: 4px;
  z-index: 1;
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}
@keyframes jump {
  0%   {transform: translateY(0)}
  100% {transform: translateY(10px)}
}
.boll-box img {
  width: 180px;
}
.play-list-card {
  background: linear-gradient(rgb(201 30 81) 0%, rgb(225 57 107) 100%);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  overflow: hidden;
  margin-bottom: 4rem;
}
.play-list-card  .card-header {
  position: relative;
  width: 100%;
  padding-bottom: 0;
  justify-content: center;
}
.play-list-card  .card-header .pager-box {
  position: absolute;
  padding-right: 65px;
  bottom: 0.51rem;
  right: 0;
}
.play-list-card  .card-header .tab{
  margin-bottom: 10px;
}
.tab .tab-btn {
  color: #ffff;
  font-weight: bold;
  margin: 5px 16px;
  padding-bottom: 10px;
  transition: ease-in 0.3s;
  cursor: pointer;
}
.tab .tab-btn:hover {
  color: #ffc107;
}
.tab .tab-btn.active {
  color: #ffc107;
  border-bottom: 4px solid #ffc107;
}
.play-list-card .card-body {
  padding: 0 0;
}
.lottery-list {
      width: 100%;
      /* border-bottom: 4px solid #6a39cc; */
}
.lottery-list .list-box {
  color: #fff;
  display: flex;
  width: 100%;
  flex: 1;
  box-shadow: 0 4px 11px rgba(33, 0, 100, 0.30);
}
.lottery-list .list-box:last-child {
  box-shadow: none;
}
.list-box .number-box {
  padding: 20px 0;
  width: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
}
.list-box .number-box span {
  font-weight: 600;
  line-height: 1.5;
  font-size: 24px;
}
.list-box .team-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.list-box .team-details {
  padding: 20px 25px;
  flex-grow: 1;
}
.list-box .team-details .team-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.list-box .team-details .totle-pt {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  opacity: 0.6;
}
.list-box .team-details .team-info-box-2 {
  display: flex;
}
.list-box .team-details .text-team {
  font-weight: 600;
  line-height: 1.5;
  font-size: 24px;
  margin-right: 2rem;
}
.list-box .team-details .text-team .icon {
  padding-right: 10px;
}
.list-box .team-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}
.user-count img {
  width: 24px;
}
.lottery-ticket-section {
  height: 100%;
  min-height: 80vh;
}
.section-background {
  background: linear-gradient(rgba(224, 129, 19, 0.9) 0%, rgb(255 193 7) 100%);
}
.profile-section {
  padding: 4rem 0;
}
.buy-timer-box {
  width: 100%;
  z-index: 1;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.timer-icon {
  width: 80px;
  position: absolute;
  left: calc(50% - 209px);
  bottom: 0;
}
.timer-box {
  position: relative;
  width: 300px;
  height: 70px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.timer-box::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 100px solid #b30035;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 300px;
}
.buy-timer-box .buy-timer-title {
  position: relative;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}
.buy-timer-box .timer {
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.buy-timer-box .timer .timer-info {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  margin-left: 10px;
}
.btn-lottery {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.40) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 50px;
  padding: 0px 24px;
  background-color: rgb(201 30 81);
  color: white;
  max-width: 280px;
  transition: ease-out 0.3s;
}
.btn-lottery:hover {
 color: #ffff;
 background-color: rgb(255 73 127);
}

.ticket-buy-modal .ticket-modal-header {
  background: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
  border-bottom: 1px solid rgb(231, 227, 235);
  display: flex;
  align-items: center;
  padding: 20px 24px;
  border-radius: 1.3rem 1.3rem 0 0;
}
.ticket-buy-modal .ticket-modal-header h3 {
  font-size: 21px;
  font-weight: bold;
  color: $font-color; 
}
.ticket-buy-modal .ticket-modal-header .close-btn img {
  width: 20px;
  cursor: pointer;
}
.ticket-buy-modal .modal-body {
  padding: 1rem 2rem;
}
.curent-ticket {
  display: flex;
  width: 100%;
}
.curent-ticket .curent-ticket-name {
  font-size: $font-size-large;
  color: $black-bg;
  margin-right: 1rem;
  text-transform: inherit;
}
.curent-ticket .curent-ticket-info {
  font-size: $font-size-large;
  color: $secondary-color; 
  font-weight: 500;
}
.ticket-buy-modal .footer-btn {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.ticket-buy-modal .footer-btn .btn-lottery {
  background-color: $primary-color;
  width: 60%;
  color: #fff !important;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 60px;
}
.profile-change-btn {
  padding: 1rem;
  text-align: center;
}
.profile-btn {
  padding: 1rem;
  text-align: center;
}
.profile-btn img { 
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 10px;
  background: aliceblue;
}
.profile-btn input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
.profile-btn input[type=radio] + img {
  cursor: pointer;
}
/* CHECKED STYLES */
.profile-btn input[type=radio]:checked + img {
  outline: 2px solid #c91e51;
}

.page-title-section {
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem 0 1rem;
}
.page-title-section .page-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}
.lottery-table {
  background-color: var(--bs-light);
  margin: 2rem 0;
  border-radius: 1rem;
}
.lottery-table .table thead tr th {
  padding: 1rem 0.5rem !important;
  color: rgb(22 8 127);
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
  white-space: nowrap;
}
.lottery-table .table tr td {
  color: rgb(22 8 127);
  padding: 1rem 0.5rem !important;
  cursor: pointer;
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
}
.lottery-table .pagination {
  padding: 2rem 0;
  align-items: center;
}
.lottery-table .pagination .pager-arrow {
  padding: 0 10px;
  opacity: 0.6;
  cursor: pointer;
  transition: ease-in 0.3s;
}
.lottery-table .pagination  .pager-arrow.pager-left svg {
  transform: rotate(180deg);
}
.pager-arrow:hover {
  opacity: 1;
}
.lottery-table .pagination .pager-arrow svg {
  width: 35px;
  height: 35px;
}
.lottery-table .pagination .pages-count {
  font-size: 14px;
  color: #0151b7;
}
.pagination {
  padding: 2rem 0;
  align-items: center;
}
.pagination .pager-arrow {
  padding: 0 10px;
  opacity: 0.6;
  cursor: pointer;
  transition: ease-in 0.3s;
}
 .pagination  .pager-arrow.pager-left svg {
  transform: rotate(180deg);
}
.pager-arrow:hover {
  opacity: 1;
}
.pagination .pager-arrow svg {
  width: 35px;
  height: 35px;
}
 .pagination .pages-count {
  font-size: 14px;
  color: #220c37;
}
.ticket-img {
  background: #f6e7d1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.ticket-img:hover img {
  opacity: 0.8;
}
.card-ticket {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.10);
}
.card-ticket-nft {
  background: transparent !important;
  border: none !important;
}
.card-ticket-nft .ticket-img {
  background: transparent;
}
.card-ticket-nft .ticket-img img {
  transform: scale(1.05);
}
.card-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation:fadein 2s;
  -moz-animation:fadein 2s;
    -o-animation:fadein 2s;
       animation:fadein 2s;
}
@-moz-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@-webkit-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@-o-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
.spinner-wrapper {
  min-width:100%;
  min-height:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(255,255,255,0.3);
  position:absolute;
  z-index:300;
  border-radius: 10px;
}

.spinner-text {position:absolute;top:41.5%;left:32%;margin:16px 0 0 35px;font-size:9px;font-family:Arial;color:rgb(107, 107, 107);letter-spacing:1px;font-weight:700}
.spinner {
  margin:0;
  display:block;
  position:absolute;
  left:25%;
  top:40%;
  border:25px solid rgba(100,100,100,0.8);
  width:1px;
  height:1px;
  border-left-color:transparent;
  border-right-color:transparent;
  -webkit-border-radius:50px;
     -moz-border-radius:50px;
          border-radius:50px;
  -webkit-animation:spin 1.5s infinite;
     -moz-animation:spin 1.5s infinite;
          animation:spin 1.5s infinite;
}

@-webkit-keyframes spin {
  0%,100% {-webkit-transform:rotate(0deg) scale(1)}
  50%     {-webkit-transform:rotate(720deg) scale(0.6)}
}

@-moz-keyframes spin  {
  0%,100% {-moz-transform:rotate(0deg) scale(1)}
  50%     {-moz-transform:rotate(720deg) scale(0.6)}
}
@-o-keyframes spin  {
  0%,100% {-o-transform:rotate(0deg) scale(1)}
  50%     {-o-transform:rotate(720deg) scale(0.6)}
}
@keyframes spin  {
  0%,100% {transform:rotate(0deg) scale(1)}
  50%     {transform:rotate(720deg) scale(0.6)}
}

.lucky-number-footer {
  padding-top: 1rem;
}
.lucky-number-footer .btn-details {
  cursor: pointer;
  padding: 15px 20px 10px;
  color: #fff;
  font-weight: 600;
  opacity: 0.6;
}
.lucky-number-footer .btn-details svg {
  color: #fff;
}
.lucky-number-details-box {
  width: 100%;
  padding: 1rem 20px;
}
.lucky-number-details-box .details-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.lucky-number-details-box .details-row  .details-col {
  width: 33.333%;
  margin-bottom: 1.5rem;
}
.lucky-number-details-box .details-row  .details-col .d-info {
  font-weight: bold;
  font-size: 0.9rem;
  color: #ffc107;
  padding-bottom: 2px;
}
.lucky-number-details-box .details-row  .details-col .d-value {
  font-weight: bold;
  font-size: 1.4rem;
  color: #fff;
}
#ticket-text text {
  font-family: 'Dosis', sans-serif !important;
}
.leader-board-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leader-board-section .leader-icon img {
  width: 60px;
  animation: jump .5s linear alternate infinite;
}
.leader-board-section .title {
  font-weight: 700;
  font-size: 2.2rem;
  color: #fff;
  text-shadow: 0 2px 3px #027b6d;
  margin-bottom: 1rem;
  text-align: center;
}
.tab-box {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.tab-box .tab-nav {
  display: inline-flex;
  background-color: rgb(238, 234, 244);
  border-radius: 16px;
  border: 1px solid rgb(215, 202, 236);
  width: auto;
}
.tab-box .tab-nav .tab-btn {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 42px;
  padding: 0px 16px;
  background-color: transparent;
  color: rgb(201 30 81);
}
.tab-box .tab-nav .tab-btn.active {
  background-color: rgb(201 30 81);
  color: rgb(255, 255, 255);
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
}
.tab-box .tab-nav .tab-btn.active:hover {
  background-color: rgb(224 55 105);
}
.tab-box .tab-nav:hover {
  background-color: var(--bs-light);
}
.lottery-ticket-section .tab-box .tab-nav .tab-btn {
  min-width: 130px;
}
.work-section {
  position: relative;
  background-color: #fff;
  background-image: url('../assets/images/top-shape.png');
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 12rem;
  padding-bottom: 2rem;
}
.work-section .border-bottom {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.work-section .title {
  font-weight: 700;
  font-size: 2.2rem;
  color: #C91E51;
  text-shadow: 0 2px 3px #cfcfcf;
  margin-bottom: 1rem;
  text-align: center;
}
.work-section .sub-title {
  font-size: 1rem;
  color: rgba(22, 8, 127, 0.5);
  text-align: center;
  font-weight: bold;
  margin-bottom: 4rem;
}
.work-section .work-box {
  /* box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
  border-radius: 1.5rem !important; */
  transition: all .2s ease-out;
  will-change: transform;
  padding: 2rem 4rem;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
  cursor: pointer;
  text-align: center;
  min-height: 480px;
  background-image: url('../assets/images/explotto-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work-section .work-box:hover {
  transform: translateY(-10px);
  /* box-shadow: 0 1rem 3rem rgba(31,45,61,.125)!important; */
}
.work-section .work-box .count-no {
  text-align: center;
  margin-top: -7rem;
  margin-bottom: 1rem;
}
.work-section .work-box .count-no span {
  display: inline-flex;
  width: 60px;
  height: 60px;
  font-weight: bold;
  font-size: 2rem;
  color: #e91e63;
  border: 5px solid;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(191, 191, 191, 0.71);
}
.work-section .work-box .title-work {
  font-size: 1.4rem;
  font-weight: 700;
  color: #e91e63;
  margin-bottom: 1rem;
}
.work-section .work-box .work-body {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(82 82 82);
}
.winning-criteria-box .title {
  text-align: left;
}
.sub-title-winning {
  font-weight: 600;
  font-size: 1.4rem;
  color: #e91e63;
  margin-bottom: 1rem;
}
.winning-info {
  font-size: 1.1rem;
  color: rgb(82 82 82);
  font-weight: 600;
}
.winning-info p, .winning-info ul {
  margin-bottom: 1rem;
}
.winning-info-image {
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 3rem;
  text-align: center;
}
.winning-info-image.reward-image {
  border: none;
}
.winning-info-image img {
  width: 100%;
}
.how-it-work-section {
  position: relative;
}
.winning-border-section {
  background-image: url('../assets/images/whiter-top-shape.png');
  background-repeat: no-repeat;
  height: 100px;
  margin-bottom: -100px;
}
.footer-section .color-white {
  background-color: #fff;
}
.footer-section .copy-text {
  color: #fff;
}
.landing-page-section {
  position: relative;
}
.note-box-container {
  background: rgb(202 31 82);
  position: absolute;
  width: 100%;
  z-index: 10;
}
.note-box-container .note-info {
  padding-top: 7px;
  color: #fff;
  font-weight: bold;
  margin: 0 1rem;
  height: 30px;;
}
.footer-col p{
  text-align: center;
}
.soical-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.soical-list a {
  display: flex;
  width: 3.1rem;
  height: 3rem;
  padding: 0.1rem;
  background-color: #f65e73;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  margin: 0 9px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.soical-list a:hover {
  background-color: #b30035;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.10);
}
.soical-list .icon svg{
  width: 30px;
}
@media (min-width: 320px) and (max-width: 600px){
  .boll-box {
    display: none;
  }
  .lottery-card {
    padding: 32px 15px;
  }
  .coin-box {
    display: none;
  }
  .prize-amt .amt {
    font-size: 3rem;
  }
  .lottery-card .card-title {
    font-size: 1.2rem;
  }
  .lottery-btn {
    padding: 1.5rem 3.5rem;
    line-height: 1rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  .lottery-btn-group {
    background-size: 283px;
  }
  .buy-timer-box {
    flex-direction: column;
  }
  .buy-timer-box .timer {
    font-size: 1.5rem;
  }
  .lottery-card .card-header {
    padding: 0 10px 20px;
  }
  .lucky-number-card {
    padding: 32px 0px;
  }
  .winner-number .numberCircle {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    box-shadow: none;
    border: 5px solid #e61980;
    margin: 0 4px;
  }
  .play-list-card {
    padding: 32px 0px;
  }
  .lottery-list .list-box {
    flex-direction: column;
  }
  .play-list-card .card-header .pager-box {
    position: absolute;
    padding-right: 6px;
    bottom: -2.49rem;
    right: 0;
  }
  .footer-section { 
    background-image: none;
    padding-top: 8rem !important;
  }
  .iaITcS {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
  }
}
.btn-footer-info {
  text-align: right;
}
.btn-footer-info .btn-explotto {
  width: auto;
  min-width: 190px;
  margin: 0 1rem;
  height: 50px;
  padding: 0rem 1.2rem;
}
.ticket-img-box {
  position: relative;
  margin-bottom: 1rem;
}
.ticket-img-box .nft-form-check {
  margin-bottom: 3rem;
}
.nft-form-check .form-check-label input[type="checkbox"] {
  // position: absolute;
  opacity: 0;
  cursor: pointer;
}
.nft-form-check .form-check-label {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}


/* Create a custom checkbox */
.nft-form-check .form-check-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
  border-radius: 50%;
  border: 3px solid #c91e51;
  margin: auto;
}

/* On mouse-over, add a grey background color */
.nft-form-check .form-check-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.nft-form-check .form-check-label input:checked ~ .checkmark {
  background-color: #c91e51;
}

/* Create the checkmark/indicator (hidden when not checked) */
.nft-form-check .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.nft-form-check .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.nft-form-check .form-check-label .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.row .col-20 {
  flex: 0 0 auto;
  width: 20%;
}