.section-faq {
    &.section {
        padding: 5vh 0;
    }
    .page-title {
        font-family: "Palanquin", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 1;
        color: $font-color;
        margin-bottom: 2vh;
        &::after {
            content: none;
        }
    }
    .faq-box {
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #DE3E69;
        &:last-child {
            border: none;
        }
        .faq-row {
            width: 100%;
            display: flex;
            padding-bottom: 1rem;
            .faq-col1 {
                min-width: 20%;
                h3 {
                    font-size: $font-size-large-xl;
                    color: $font-color;
                    font-weight: 500;
                }
            }
            .faq-col2 {
                min-width: 80%;
                padding-left: 1rem;
                .faq-question {
                    font-size: $font-size-large-xl;
                    color: $font-color;
                }
                .faq-details {
                    p {
                        font-size: $font-size-large;
                        color: $font-color;
                        opacity: 0.5;
                        margin-bottom: 0.6rem;
                    }
                    ol, ul {
                        margin-left: 1rem;
                        margin-bottom: 0.6rem;
                        li {
                            font-size: $font-size-large;
                            color: $font-color;
                            opacity: 0.5;  
                        }
                    }
                }
            }
        }
    }
}