.white-footer-section {
    background-color: #DE3E69;
    text-align: center;
    padding: 5vh 0;
    .footer-title {
        font-family: Palanquin;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 65px;
        color: $white-bg;
    }
    .community-icon {
        .footer-link {
            display: inline-block;
            padding: 0 1rem;
            svg {
                width: 40px;
                &:hover {
                    path {
                        fill: var(--toastify-icon-color-warning);
                    }
                }
            }
        }
    }
    .footer-list {
        list-style: none;
        li {
            margin-bottom: 0.5rem;
            .footer-link {
                font-size: 1.2rem;
                color: $white-bg; 
                font-weight: 300;
                transition: 0.3s ease-in-out;
                &:hover {
                    color: $info-color;
                }
            }
        }
    }
    .copy-write-box {
        border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
        margin-top: 2rem;
        padding-top: 1rem;
        font-size: 1vw;
        color: rgba($color: #fff, $alpha: 0.5);
    }
}