.white-nav-header {
    background-color: $white-bg;
    .navbar-brand {
        img {
            width: 9vw;
        }
    }
    .container-fluid {
        padding: 0 3rem;
    }
    .navbar-nav.center-nav {
        .nav-link, .nav-item {
            padding: 0.5rem 1.5rem;
            color: $fill-font-color;
            font-size: 1.1rem;
            cursor: pointer;
            &.active {
                color: $font-color;
                a.dropdown-toggle.nav-link {
                    color: $font-color; 
                }
            }
            &.inactive {
                color: $fill-font-color;
            }
            .dropdown-toggle {
                padding: 0;
                font-family: 'Roboto', sans-serif;
                color: rgba(83, 53, 112, 0.6);
                font-weight: normal;
            }
        }
    }
    .login-before-nav {
        justify-content: flex-end;
        .btn-link {
            font-size: 1.1rem;
            background: $secondary-color;
            color: #fff !important;
            border-radius: 12px;
            padding: 0.5rem 1rem;
            padding-left: 2vw;
            padding-right: 2vw;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;
            &:hover {
                background: #fd5a86;
                transform: scale(1.02);
            }
        }
    }
   
    .navbar-nav {
        .dropdown {
                .nav-link {
                    font-family: 'Palanquin', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.1rem;
                    line-height: 43px;
                    color: $font-color;
                }
                .dropdown-menu {
                    position: absolute;
                    top: 47px;
                    border-radius: 0px 0px 20px 20px;
                    border: 1px solid $secondary-color;
                    border-top: 0;
                    min-width: 11rem;
                    overflow: hidden;
                    .dropdown-item {
                        width: 100%;
                        padding: 0.8rem 1rem;
                        color: $font-color;
                    }
                    .dropdown-item.active, .dropdown-item:active {
                        background-color: transparent;
                        font-weight: bold;
                        color: $font-color;
                    }
                }
                #notification-dropdown {
                    margin-left: 2rem;
                    &.dropdown-toggle::after {
                        display: none;
                    }
                    .noti-icon {
                        position: relative;
                        width: 18px;
                    }
                    #indicate {
                        position: absolute;
                        top: 10px;
                        right: -3px;
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        background: $secondary-color;
                        border-radius: 50%;
                    }
                }
                &.notification-dropdown {
                    .dropdown-menu {
                        top: 62px;
                        right: -4rem;
                        border: none;
                        padding: 0;
                        border-radius: 0;
                        width: 300px;
                        background: transparent;
                        .dropdown-item {
                            background: #FFFFFF;
                            border: 1px solid #DE3E69;
                            border-radius: 10px;
                            margin-bottom: 10px;
                            &.noti-btn {
                                text-align: center;
                                border: none;
                                font-family: 'Palanquin';
                                font-style: normal;
                                font-weight: 700;
                                font-size: $font-size-large;
                                color: $white-bg;
                                background-color: #552684;
                                text-transform: uppercase;
                            }
                            .noti-box {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                .noti-img {
                                    margin-right: 10px;
                                    img {
                                        width: 30px;
                                    }
                                }
                                .noti-header {
                                    h4 {
                                        font-size: $font-size-large;
                                        color: $font-color;
                                        white-space: break-spaces;
                                    }
                                    .noti-time {
                                        font-size: 14px;
                                        color: $font-color;
                                        opacity: 0.5;
                                    }
                                }
                                .arrow-icon {
                                    margin-left: 1rem;
                                }
                            }
                        }
                        
                    }
                }
            
        }
    }
    .profile-icon {
        position: relative;
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-left: 1rem;
        cursor: pointer;
        border: 1px solid $secondary-color; 
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 50px;
            height: 50px;
            // border: 1px solid $secondary-color; 
            border-radius: 50%;
            margin-top: -6px;
            transform: scale(1.2);
        }
    }
}
.section {
    background-color: $white-bg;
    padding: 8vh 0;
}
.pool-section {
    position: relative;
    width: 100%;
    height: 100%;
    // background-image: url('../assets/images/white-theme-images/hero-image2.svg');
    background-repeat: no-repeat;
    background-size: 20vw;
    background-position-x: 87%;
    background-position-y: center;
    .hero-icon {
        svg {
            position: relative;
            width: 100%;
        }
    }
    .pool-details {
        margin-top: 2vh;
        .title {
            font-size: 24px;
            color: $font-color;
            margin-bottom: 0;
            font-weight: 300;
        }
        .pool-amt {
            font-family: 'Palanquin', sans-serif;
            font-size: 88px;
            color: $font-color;
            font-weight: bold;
            line-height: normal;
            margin-bottom: -1rem;
            margin-top: -3rem;
        }
        .dollar-amt {
            font-size: 24px;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }
        .curt-amt-no {
            font-size: 24px;
            line-height: normal;
            margin-bottom: 1.5rem;
            .lottery-number {
                font-weight: 600;
                 color: $secondary-color;
            }
        }
    }
    .social-links {
        display: flex;
        align-items: center;
        margin-top: 6vh;
        .title-name {
            font-size: 1.1rem;
            margin-right: 1rem;
            @include md-only() {
                font-size: 1rem;  
            }
        }
        .ss-link {
            margin: 0 5px;
            transition: 0.3s ease-in-out;
            img {
                width: 2vw;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .buy-timer-section {
        font-size: 1.4rem;
        color: $fill-font-color;
        line-height: normal;
        margin-bottom: -1rem;
        margin-top: 2rem;
        .timer {
            font-family: "Palanquin", sans-serif;
            color: $secondary-color;
            font-weight: bold;
        }
    }
}
.prize-list-section {
    width: 100%;
    height: 30px;
    background: $secondary-color;
    .prize-info {
        height: 30px;
        .prize-list {
            display: flex;
            align-items: center;
            list-style: none;
            height: 30px;
            li {
                color: #FDF7F5;
                padding: 0 1rem;
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }
}
.page-title {
    position: relative;
    font-family: 'Palanquin', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 42px;
    color: $font-color;
    margin-bottom: 4vh;
    padding-bottom: 1rem;
    @include md-only {
        font-size: 1.4rem;
        line-height: 32px; 
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 1px;
        background: $secondary-color;
    }
}
.tab-section {
    text-align: right;
    .tab-link {
        font-size: $font-size-large;
        color: $font-color;
        margin-right: 2rem;
        padding-bottom: 0.4rem;
        opacity: 0.5;
        transition: $general-transition-time $transition-linear;
        &.active {
            color: $font-color;
            // border-bottom: 1px solid;
            font-weight: 500;
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
    }
}
.round-box {
    display: flex;
    align-items: center;
    .round-title {
        font-size: $font-size-large;
        color: $font-color;
        margin-right: 0.5rem;
    }
    .pager-box {
        .pager-arrow {
            display: inline-block;
            cursor: pointer;
            transition: .3s ease-in;
            padding-left: 3px;
            padding-right: 3px;
            svg {
                width: 10px;
            }
            &:hover {
                svg {
                    path {
                        fill: rgb(222 62 105);
                        stroke:rgb(222 62 105);
                    }
                }
            }
        }
    }
}
.finish-timer {
    padding-right: 12%;
    span {
        font-weight: 300;
        font-size: $font-size-large;
        line-height: 28px;
        text-transform: uppercase;
        color: #220C37;
        opacity: 0.5;
    }
}
.explotto-box-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    .explotto-icon {
        position: relative;
        width: 10vw;
        height: 10vw;
        border: 2px solid #DE3E69;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        svg {
            position: relative;
            width: 5vw;
            color: $font-color;
            &.player-icon {
                margin-bottom: -4rem;
            }
        }
        img {
            position: relative;
            width: 10vw;
            height: 10vw;
            top: -15px;
            transform: scale(1.2);
        }
        &::before {
            position: absolute; 
            left: 0;
            bottom: 0;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: $secondary-color;
            transform-origin: 0 bottom 0;
            transform: scaleY(0);
            transition: .4s ease-out;
            border-radius: 50%;
        }
    }
    &:hover {
        .explotto-icon {
            svg {
                color: $white-color;
            }
            &::before {
                transform: scaleY(1);
            }
        }
    }
    .explotto-body {
        .explotto-info {
           color: $font-color;
           font-size: $font-size-large;
           line-break: anywhere;
           white-space: break-spaces;
        }
        .explotto-title {
            color: $secondary-color;
            font-size: $font-size-h4;
            font-family: 'Palanquin', sans-serif;
            font-weight: bold;
        }
        .about-info {
            font-size: $font-size-large;
            font-weight: 300;
            color: $font-color;
            opacity: 0.5;
            width: 300px;
        }
    }
}
.finished-section {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background-image: url('../assets/images/white-theme-images/explode-1.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 100%;
        bottom: -7rem;
        right: 0;
        width: 143px;
        height: 165px;
    }
}
.top-teams-section {
   
    .tab-section {
        text-align: left;
    }
}
.top-users-section {
    .col-md-4 {
        .user-profile-image {
            display: inline-block;
            position: relative;
            margin-bottom: -10px;
            .ranking-star {
                position: absolute;
                width: 30px;
                height: 30px;
                right: 15px;
                top: 10px;
                img {
                    width: 14px;
                    height: auto;
                    top: 0;
                }
            }
            &::after {
                content: '';
                position: absolute;
                right: 18px;
                top: 0;
                // background-image: url('../assets/images/white-theme-images/3-star.svg'); 
                background-repeat: no-repeat;
                background-size: 30px;
                width: 30px;
                height: 30px;
            }
        }
        &:first-child {
            &::after {
                // background-image: url('../assets/images/white-theme-images/3-star.svg');  
            }
        }
        &:nth-child(2) {
            .user-profile-image {
                &::after {
                    top: 10px;
                    right: 21px;
                    // background-image: url('../assets/images/white-theme-images/2-star.svg');
                }
            }
        }
        &:nth-child(3) {
            .user-profile-image {
                &::after {
                    top: 10px;
                    right: 10px;
                    // background-image: url('../assets/images/white-theme-images/1-star.svg');
                    background-size: 15px;
                }
            }
        }
    }
    .explotto-box-section {
        &:hover {
            .explotto-icon {
                svg {
                    color: #220C37;
                }
            }
        }
        .explotto-icon {
            background-color: transparent;
            overflow: unset;
            width: 192px;
            height: 192px;
            &::before {
                content: none;
            }
            svg {
                width: 5vw;
            }
            &:hover {
                svg {
                    color: #220C37;
                }  
            }
            .rank-icon {
                position: absolute;
                svg {
                    width: 48px;
                }
            }
            .top-profile-image {
                display: inline-flex;
                width: 190px;
                height: 190px;
                overflow: hidden;
                border-radius: 50%;
                img {
                    width: 192px;
                    height: 192px;
                }
            }
           
        }
    }
    .tab-section {
        text-align: left;
    }
    .round-box {
        justify-content: flex-end;
    }
}

.about-section {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background-image: url('../assets/images/white-theme-images/explode-2.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 100%;
        background-size: 180px;
        top: -7rem;
        left: 0;
        width: 177px;
        height: 265px;
    }
    .explotto-box-about {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
        transition: 0.3s ease-in-out;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 25%;
            width:42%;
            height: 1px;
            background-color: $secondary-color;
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 25%;
            width:42%;
            height: 1px;
            background-color: $secondary-color;
        }
        .explotto-icon {
            position: relative;
            width: 10vw;
            height: 10vw;
            border: 2px solid #DE3E69;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            z-index: 1;
            cursor: pointer;
            svg {
                position: relative;
                width: 5vw;
                color: #220C37;
            }
            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: #DE3E69;
                transform-origin: 0 bottom 0;
                transform: scaleY(0);
                transition: 0.4s ease-out;
                border-radius: 50%;
            }
            &:hover {
                // background-color: #DE3E69;
                svg {
                    color: #fff;
                }
                &::before { 
                    transform: scaleY(1);
                }
            } 
        }
        .explotto-body {
            .explotto-info {
                color: #220C37;
                font-size: 18px;
                line-break: anywhere;
                white-space: break-spaces;
            }
            .about-info {
                font-size: 18px;
                font-weight: 300;
                color: #220C37;
                opacity: 0.5;
                width: 300px;
            }
        }
    }
}
.award-point-section {
    .award-point-box {
        .award-title {
            font-size: $font-size-large;
            margin-bottom: 2rem;
        }
        .details-points {
            padding-right: 15%;
            p {
                font-size: $font-size-large;
                color: $font-color;
                font-weight: 300;
                &.p1 {
                    margin-bottom: 1rem;
                }
                &.p2 {
                    opacity: 0.5;
                }
                &.p3 {
                    margin-top: 1rem;
                }
            }
        }
    }
    .image-resposive {
        margin-top: 5rem;
    }
}

.award-distribution-section {
    .sub-page-title {
        text-align: center;
        font-size: $font-size-large;
        margin-bottom: 3rem;
    }
    .distribution-box {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 4vh;
        .per-no {
            position: relative;
            width: 10vw;
            height: 10vw;
            border: 2px solid #DE3E69;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;
            overflow: hidden;
            color: $font-color;
            font-size: $font-size-h3;
            font-family: 'Palanquin', sans-serif;
            font-weight: bold;
        }
        .distribution-info {
            font-size: $font-size-large;
            opacity: 0.5;
            flex: 1;
        }
        .distribution-info-footer {
            padding-left: 13%;
            opacity: 0.5;
            font-size: $font-size-medium;
        }
    }
}
.road-map-section {
    position: relative;
    background-image: url('../assets/images/white-theme-images/ticket-icon.svg');
    background-repeat: no-repeat;
    background-size: 16vw;
    background-position-x: left;
    background-position-y: center;
    .road-map-box {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &::before {
            content: '';
            border-left: 2px dashed $secondary-color;
            position: absolute;
            height: 100%;
            width: 0;
            top: 2rem;
            left: 2rem;
        }
        &:last-child {
            &::before {
                content: none;
            } 
        }
        .per-no {
            position: relative;
            width: 70px;
            height: 70px;
            background-color: $white-bg;
            border: 2px solid #DE3E69;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;
            overflow: hidden;
            color: $font-color;
            font-size: $font-size-h3;
            font-family: "Palanquin", sans-serif;
            font-weight: bold;
            padding-bottom: 10px;
        }
        .road-map-details {
            flex-grow: 1;
            flex-basis: 0;
            max-width: 100%;
            min-height: 180px;
            h3 {
                font-family: "Palanquin", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: $font-size-large;
                line-height: 33px;
                color: $secondary-color;  
                margin: 0;              
            }
            .exp-map-info {
                margin-bottom: 2rem;
                .st-info {
                    font-size: $font-size-large;
                    color: #150029;
                    margin-bottom: 5px;
                    &.g-1 {
                        opacity: 1;
                    }
                    &.g-2 {
                        opacity: 0.8;
                    }
                    &.g-3 {
                        opacity: 0.6;
                    }
                    &.g-4 {
                        opacity: 0.4;
                    }
                }
                .map-info {
                    font-weight: 300;
                    font-size: $font-size-large;
                    color: #220C37;
                    opacity: 0.5;
                }
            }
        }
    }
}

