.section {
    &.section-howstart {
        padding: 3vh 0;
        .work-process-section {
            width: 100%;
            display: flex;
            align-items: center;
            padding-bottom: 2rem;
            .work-icon {
                text-align: center;
                width: 50%;
                img {
                    border-radius: 20px;
                    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
                    &.w-50 {
                        width: 50%;
                    }
                    &.w-70 {
                        width: 70%;
                    }
                }
            }
            .pl-10 {
                padding-left: 10%;
            }
            .pr-10 {
                padding-right: 10%;
            }
            .pl-2 {
                padding-left: 1rem;
            }
            .pr-2 {
                padding-right: 1rem;
            }
            .work-details {
                flex: 1;
                display: flex;
                width: 100%;
                height: 100%;
                .count-number {
                    position: relative;
                    width: 70px;
                    height: 70px;
                    background: #de3e69;
                    border-radius: 50%;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    margin-right: 1rem;
                    overflow: hidden;
                    color: #fff;
                    font-size: 42px;
                    font-family: "Palanquin",sans-serif;
                    font-weight: 700;
                    padding-bottom: 10px;
                }
                .ex-info {
                    width: 80%;
                    h3 {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 50px;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 18px;
                        color: #150029;
                        margin-bottom: 5px;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}