#notification-dropdown {
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    .noti-icon {
        position: relative;
        width: 18px;
    }
    #indicate {
        position: absolute;
        top: -2px;
        right: -3px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: $secondary-color;
        border-radius: 50%;
    }
}
.notification-dropdown {
    position: absolute;
    top: 72px;
    right: 2.8rem;
    z-index: 1000;
    border: none;
    padding: 0;
    border-radius: 0;
    width: 300px;
    background: transparent;
    .notification-dropdown-item {
        background: #FFFFFF;
        border: 1px solid #DE3E69;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 0.8rem 1rem;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &.noti-btn {
            text-align: center;
            border: none;
            font-family: 'Palanquin';
            font-style: normal;
            font-weight: 700;
            font-size: $font-size-large;
            color: $white-bg;
            background-color: #552684;
            text-transform: uppercase;
            &:hover {
                background-color: #3e0677;
            }
        }
        &:hover {
            background-color: #e9ecef;
        }
        .noti-box {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .noti-img {
                margin-right: 10px;
                img {
                    width: 30px;
                }
            }
            .noti-header {
                h4 {
                    font-size: $font-size-large;
                    color: $font-color;
                    white-space: break-spaces;
                    margin: 0;
                }
                .noti-time {
                    font-size: 14px;
                    color: $font-color;
                    opacity: 0.5;
                }
            }
            .arrow-icon {
                margin-left: 1rem;
            }
            .inactive-arrow-icon {
                margin-left: 1rem;
                transform: rotate(180deg);
            }
        }
    }
    
}