.lottery-ticket-section {
    &.section {
        padding: 5vh 0;
    }
    .page-title-section {
        padding: 0;
        .page-title {
            font-family: "Palanquin", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 1;
            color: $font-color;
            margin-bottom: 0vh;
            margin-top: 5vh;
            &::after {
                content: none;
            }
        }
    }
}