.section-profile {
    background-image: url('../assets/images/white-theme-images/profile-explotto.svg');
    background-repeat: no-repeat;
    background-size: 30vw;
    background-position-x: 80%;
    background-position-y: bottom;
    padding: 3vh 0;
    height: calc(100vh - 75px);
    .profile-card {
        width: 100%;
        height: 100%;
        overflow: inherit;
        .title {
            font-family: 'Palanquin', sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: $font-color;
            margin-bottom: 5vh;
          }
          .profile-photo {
            position: relative;
          }
          .profile-photo .add-btn {
              position: absolute;
              bottom: 5px;
              left: calc(50% + 58px);
              display: inline-flex;
              height: 35px;
              width: 35px;
              background: #552684;
              color: #fff;
              font-size: 2rem;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              cursor: pointer;
          }
          .profile-photo img {
            width: 210px;
            height: 210px;
            border-radius: 30%;
            padding: 2px;
            background: transparent;
            // background-image: url('../assets/images/user-image.png');
            background-size: contain;
            background-repeat: no-repeat;
          }
          .profile-form .form-check {
            position: relative;
            padding-left: 0;
            margin-bottom: 1.5rem;
            margin-left: 0;
            display: flex;
            align-items: center;
            label {
                position: relative;
                width: 30px;
                height: 30px;
                display: inline-flex;
                border: 1px solid #DE3E69;
                border-radius: 50%;
                cursor: pointer;
              }
              input:checked ~ label {
                background-color: #fff;
                background-image: url("../assets/images/check.svg");
                background-repeat: no-repeat;
                background-position: 4px 6px;
              }
            input {
                width: 32px;
                height: 32px;
                order: 1;
                z-index: 2;
                position: absolute;
                left: 24px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                visibility: hidden;
              }
          }
          .form-check-input:checked {
            background-color: #c91e51;
            border-color: #c91e51;
          }
          .profile-form .form-check .team-info {
            opacity: 0.5;
            font-size: $font-size-large;
            margin-left: 1rem;
          }
          .user-details {
              .form-group {
                .form-control {
                    border: none;
                    text-align: center;
                    padding: 5px 0;
                }
                .form-control:disabled, .form-control[readonly] {
                    background: none;
                    opacity: 0.5;
                }
              }
          }
      }
}
.ticket-buy-modal {
    .modal-body {
        #canvas {
            width: 430px;
        }
        .profile-change-cost {
            display: flex;
            align-items: center;
        }
        .curent-ticket {
            .form-label {
                margin-bottom: 0;
                flex: 1;
            }
            .net-amt {
                flex: 1; 
            }
        }
        .profile-change-btn {
            padding: 0;
            margin-right: 1rem;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
    .footer-btn {
        .btn-explotto {
            min-width: 10rem;
            font-size: 1.2rem;
        }
    }
}