@mixin xs-only {
    @media screen and (max-width: $breakpoint-xs) {
      @content;
    }
  }
  
  @mixin sm-up {
    @media screen and (min-width: $breakpoint-xs+1) {
      @content;
    }
  }
  
  @mixin sm-only {
    @media screen and (min-width: $breakpoint-xs+1) and (max-width: $breakpoint-sm) {
      @content;
    }
  }
  
  @mixin md-up {
    @media screen and (min-width: $breakpoint-sm+1) {
      @content;
    }
  }
  
  @mixin md-only {
    @media screen and (min-width: $breakpoint-sm+1) and (max-width: $breakpoint-md) {
      @content;
    }
  }
  
  @mixin lg-up {
    @media screen and (min-width: $breakpoint-md+1) {
      @content;
    }
  }
  
  @mixin lg-only {
    @media screen and (min-width: $breakpoint-md+1) and (max-width: $breakpoint-lg) {
      @content;
    }
  }
  
  @mixin xl-up {
    @media screen and (min-width: $breakpoint-lg+1) {
      @content;
    }
  }
  