/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 767px) {
    .section {
        padding: 1rem 0;
    }
    .white-nav-header .container-fluid {   
        padding: 0 1rem;
    }
    .white-nav-header .navbar-brand img {
        width: 120px;
    }
    .navbar-light .navbar-toggler {
        border: none;
        padding: 0;
    }
    .pool-section {
        background-image: none;
    }
    .pool-section .pool-details {
        text-align: center;
    }
    .pool-section .pool-details .title {
        font-size: 1.6rem;
    }
    .pool-section .pool-details .pool-amt {
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .btn-large {
        height: 65px;
        width: 200px;
        font-size: 1.1rem;
    }
    .pool-section .buy-timer-section {
        font-size: 1.6rem;
    }
    .pool-section .social-links {
        margin-top: 2rem;
        justify-content: center;
    }
    .pool-section .social-links .title-name {
        font-size: 1rem;
        margin-right: 0rem;
    }
    .pool-section .social-links .ss-link img {
        width: 2rem;
    }
    .page-title {
        font-size: 2rem;
        line-height: 60px;
        margin-bottom: 1rem;
    }
    .round-box {
        margin-bottom: 1rem;
        justify-content: flex-end;
    }
    .round-box .round-title {
        font-size: 1.1rem;
    }
    .finish-timer {
        padding-right: 0;
        text-align: right;
        margin-top: 10px;
    }
    .finish-timer span {
        font-size: 1rem;
        font-size: 1rem;
    }
    .explotto-box-section .explotto-icon {
        width: 16rem;
        height: 16rem;
    }
    .explotto-box-section .explotto-icon svg {
        width: 8rem;
    }
    .explotto-box-section .explotto-body .explotto-info {
        font-size: 1.4rem;
    }
    .explotto-box-section .explotto-body .explotto-title {
        font-size: 2rem;
    }
    .finished-section {
        background-size: 27vw;
        background-position-y: 84%;
    }
    .tab-section {
        text-align: center;
    }
    .tab-section .tab-link {
        font-size: 1.2rem;
        margin-right: 1.5rem;
    }
    .top-teams-section .explotto-box-section .explotto-icon {
        width: 16rem;
        height: 16rem;
    }
    .top-users-section .explotto-box-section .explotto-icon, .about-section .explotto-box-section .explotto-icon {
        width: 16rem;
        height: 16rem;
    }
    .top-users-section .explotto-box-section .explotto-icon svg {
        width: 8rem;
    }
    .about-section .explotto-box-section .explotto-icon svg {
        width: auto;
    }
    .explotto-box-section .explotto-body .about-info {
        font-size: 1rem;
    }
    .award-point-section .page-title {
        line-height: 1;
    }
    .award-point-section .award-point-box .award-title {
        font-size: 1.2rem;
    }
    .award-point-section .award-point-box .details-points {
        padding-right: 0;   
    }
    .award-point-section .award-point-box .details-points p {
        font-size: 1rem;
    }
    .award-distribution-section .distribution-box .per-no {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
        font-size: 1rem;
    }
    .award-distribution-section .distribution-box .distribution-info {
        font-size: 1rem;
    }
    .award-distribution-section .distribution-box .distribution-info-footer {
        font-size: 1rem;
    }
    .section-profile { 
        height: 100%;
        background-size: 40vw;
    }
    .section-profile .profile-card .title {
        font-size: 2rem;
    }
    .ticket-buy-modal .modal-body #canvas {
        width: 279px;
    }
    .profile-form .btn-explotto {
        width: 11rem;
    }
    .ticket-buy-modal .ticket-modal-header h3 {
        margin: 0;
    }
    .lottery-ticket-section .page-title-section .page-title {
        font-size: 2rem;
    }
    .lottery-table .table tr td time {
        white-space: nowrap;
    }
    .lottery-table .table tr td {
        white-space: nowrap;
    }
    .pool-section .pool-details .dollar-amt {
        font-size: 1.2rem;
    }
    .top-teams-section .tab-section , .top-users-section .tab-section{
        text-align: center;
    }
    .result-animation-box .waviy {
        font-size: 32px;
    }
    .road-map-section .road-map-box .road-map-details h3 {
        font-size: 24px;
        line-height: normal;
    }
    .road-map-section .road-map-box .per-no {
        width: 40px;
        height: 40px;
        font-size: 30px;
        margin-right: 1rem;
    }
    .road-map-section .road-map-box::before {
        left: 1.2rem;
    }
    .road-map-section {
        background: none;
    }
    .row {
        .col-20 {
            width: 50%;
        }
    }
    .finished-section::after, .about-section::after, .about-section .explotto-box-section::before, .about-section .explotto-box-section::after {
        content: none;
    }
    .section-faq .faq-box .faq-row {
        flex-direction: column;
    }
    .section-faq .faq-box .faq-row .faq-col2 {
        padding-left: 0rem;
    }
    .section-profile {
        background-image: none;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1023px) {
  
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 1024px) and (max-width: 1199px) {

}