.card1{
    background: linear-gradient(45deg , transparent, rgb(226, 199, 247));
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    transform: scale(1.0);
    transform: transform 0;
}
.card-img-top:hover{
    transform: scale(1.6);
}

.numberCircle {
    border-radius: 3%;
    width: 7rem;
    height: 7rem;
    /* background: rgb(221 221 221); */
    color: #ffc107;
    /* color: rgb(230 25 128); */
    text-align: left;
    font-size: 3.2rem;
    text-shadow: 0 2px 3px #383838;
    font-weight: 900;
    /* box-shadow: 0px 0px 0px 13px hsl(330deg 80% 50%), 0px 10px 0px 13px hsl(330deg 80% 40%), 0px 20px 20px 15px #0003; */
    margin: 0 5px;
    background: url('../assets/images/bomb.png') no-repeat center;
    background-size: cover;
    line-height: 2.6;
    padding-left: 32px;
}
.modal-content {
    border-radius: 1.3rem;
  }
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  
